

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keyword" content="Restorant,menü ">
    <link href="Content/Style/assets/css/tablo.css" rel="stylesheet">

    <title>Anasayfa</title>
   
    </head>

  <body>

    <div class="content">

        <div class="container">
            <h2 class="mb-5">Firma Bilgileri</h2>


            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
      
                    </thead>
                    <tbody>
                        
                        <tr scope="row">



                            <td class="baslik">
                                Firma Adı : 
                            </td>
                            <td><a href="#">FOODEE</a></td>



                        </tr>

                        <tr>

                            <td class="baslik">Firma Adresi : </td>
                            <td><a href="#">Akademi, Yeni İstanbul Cd. No:235/1, 42250 Selçuklu/Konya</a></td>

                            <td><a href="https://www.google.com/maps/dir/37.8056202,32.4158216/ktun/" class="more">Yol Tarifi</a></td>

                        </tr>
                        <tr>

                            <td class="baslik">Firma Telefonu : </td>
                            <td><a href="#">+90 (542) 546 4545  </a></td>


                        </tr>
                        <tr>

                            <td class="baslik">Firma İletişim : </td>
                            <td><a href="#">foodee@info.tr</a></td>

                            <td><a href="#" class="more"></a></td>

                        </tr>
                        <tr>

                            <td class="baslik">Firma Çalışan Sayısı : </td>
                            <td><a href="#">412</a></td>


                        </tr>
                        <tr>

                            <td class="baslik" >Firma Kuruluş : </td>
                            <td><a href="#">23.03.2024</a></td>


                        </tr>



                    </tbody>
                </table>
            </div>


        </div>

    </div>
  </body>
</html>
