<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/stlye.css">
    <link href="~/Content/Style/assets/css/mail.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-image"></div>
    <form>
        <!-- Header -->
        
        <!-- /Header -->
        <!-- Main Form Started -->
        <label for="fullName">Ad Soyad </label>
        <input type="text" placeholder="Adınız" name="adsoyad" id="adsoyad" required>

        <label for="email">Gönderilicek Email.</label>
        <input type="email" placeholder="Email" name="email" id="email" required>

        <label for="fullName">Konu </label>
        <input type="text" placeholder="Konu" name="konu" id="konu" required>


        <label for="message">Mesaj </label>
        <textarea placeholder="Mesajınız" name="mesaj" id="mesaj" required></textarea>

        <!-- Submit Button -->
        <button>Gönder</button>

    </form>
    <!-- /Main Form Ended -->
</body>
</html>